In [732]:
import pandas as pd
import numpy as np

In [733]:
columns = ["event ID", "process ID", "event weight", "MET","METphi"]
events = ["type","E","pt","eta","phi"]
for i in range(1, 22):
    for k in range(1,6):
        columns.append('event' + str(i)+ ' ' +events[k-1])

In [734]:
col_type=[]
col_E=[]
col_pt=[]
col_eta=[]
col_phi=[]
for i in range(1,22):
        col_type.append('event'+str(i)+ ' type')
        col_E.append('event'+str(i)+ ' E')
        col_pt.append('event'+str(i)+ ' pt')
        col_eta.append('event'+str(i)+ ' eta')
        col_phi.append('event'+str(i)+ ' phi')

In [735]:
# Read the data from a file
data = pd.read_csv("orignal_data/stlp_st1000_chan2b.csv", names=columns, sep='[,;]', engine='python', header=None)

In [736]:
data.head()

,event ID,process ID,event weight,MET,METphi,event1 type,event1 E,event1 pt,event1 eta,event1 phi,...,event20 type,event20 E,event20 pt,event20 eta,event20 phi,event21 type,event21 E,event21 pt,event21 eta,event21 phi
0,62416,stlp_st1000,1.050940e-07,304705.0,-2.809940,b,361726.0,189954.0,1.255380,-1.329550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62416,stlp_st1000,1.050940e-07,715674.0,2.994350,b,831575.0,666590.0,-0.660226,0.363663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62416,stlp_st1000,1.050940e-07,591904.0,-0.530711,j,693135.0,570147.0,-0.642627,2.653840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62416,stlp_st1000,1.050940e-07,632278.0,1.456380,b,486955.0,378520.0,0.738527,-1.857830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62416,stlp_st1000,1.050940e-07,118069.0,2.765960,b,347767.0,336442.0,-0.250676,-1.428390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [737]:
#see specific column
#data[["event8 type"]]

In [738]:
#
#data.iloc[:, [6,7,11,12,16,17,21,22,26,27,31,32,36,37,41,42]] access column by number
#Access specific columns
#data[col_type]

In [739]:
def replace_none_with_nan(df):
    df.replace({None: np.nan}, inplace=True)
    return df

In [740]:
replace_none_with_nan(data)

,event ID,process ID,event weight,MET,METphi,event1 type,event1 E,event1 pt,event1 eta,event1 phi,...,event20 type,event20 E,event20 pt,event20 eta,event20 phi,event21 type,event21 E,event21 pt,event21 eta,event21 phi
0,62416,stlp_st1000,1.050940e-07,304705.0,-2.809940,b,361726.0,189954.0,1.255380,-1.329550,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62416,stlp_st1000,1.050940e-07,715674.0,2.994350,b,831575.0,666590.0,-0.660226,0.363663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62416,stlp_st1000,1.050940e-07,591904.0,-0.530711,j,693135.0,570147.0,-0.642627,2.653840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62416,stlp_st1000,1.050940e-07,632278.0,1.456380,b,486955.0,378520.0,0.738527,-1.857830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62416,stlp_st1000,1.050940e-07,118069.0,2.765960,b,347767.0,336442.0,-0.250676,-1.428390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13621,62416,stlp_st1000,1.050940e-07,650528.0,2.376970,j,1053030.0,616400.0,-1.128640,-0.817685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13622,62416,stlp_st1000,1.050940e-07,276002.0,2.450920,b,799426.0,733599.0,-0.417467,0.510534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13623,62416,stlp_st1000,1.050940e-07,384559.0,-2.617380,j,2885330.0,360075.0,2.770270,1.145430,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13624,62416,stlp_st1000,1.050940e-07,297482.0,0.440903,j,599439.0,251001.0,1.516290,1.285890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13625,62416,stlp_st1000,1.050940e-07,768499.0,-1.754390,b,754483.0,428615.0,1.163460,1.416450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [741]:
#data.loc[:, ['event13 type']]=data.loc[:, ['event13 type']].fillna('box')

In [742]:
for k in col_type:
    data.loc[:, [k]]=data.loc[:, [k]].fillna('n')

In [743]:
data.fillna(0, inplace=True)

In [744]:
for k in col_E:
    data[k] = np.where(data[k] > 0, np.log1p(data[k]), 0)

In [745]:
for k in col_pt:
    data[k] = np.where(data[k] > 0, np.log1p(data[k]), 0)

In [746]:
data['MET'] = np.where(data['MET'] > 0, np.log1p(data['MET']), 0)

In [747]:
data.head()

,event ID,process ID,event weight,MET,METphi,event1 type,event1 E,event1 pt,event1 eta,event1 phi,...,event20 type,event20 E,event20 pt,event20 eta,event20 phi,event21 type,event21 E,event21 pt,event21 eta,event21 phi
0,62416,stlp_st1000,1.050940e-07,12.627103,-2.809940,b,12.798645,12.154542,1.255380,-1.329550,...,n,0.0,0.0,0.0,0.0,n,0.0,0.0,0.0,0.0
1,62416,stlp_st1000,1.050940e-07,13.480981,2.994350,b,13.631078,13.409932,-0.660226,0.363663,...,n,0.0,0.0,0.0,0.0,n,0.0,0.0,0.0,0.0
2,62416,stlp_st1000,1.050940e-07,13.291101,-0.530711,j,13.448982,13.253651,-0.642627,2.653840,...,n,0.0,0.0,0.0,0.0,n,0.0,0.0,0.0,0.0
3,62416,stlp_st1000,1.050940e-07,13.357086,1.456380,b,13.095929,12.844027,0.738527,-1.857830,...,n,0.0,0.0,0.0,0.0,n,0.0,0.0,0.0,0.0
4,62416,stlp_st1000,1.050940e-07,11.679033,2.765960,b,12.759291,12.726184,-0.250676,-1.428390,...,n,0.0,0.0,0.0,0.0,n,0.0,0.0,0.0,0.0

In [748]:
#data['event14 type'].nunique()

In [749]:
data['event8 type'].unique()

array(['m+', 'n', 'm-', 'j', 'e+', 'e-', 'g', 'b'], dtype=object)

In [750]:
def count_n(row):
    return row.astype(str).str.count('n').sum()

In [751]:
def count_e(row):
    return row.str.count('e-').sum() + row.str.count('e+').sum()

In [752]:
def count_mu(row):
    return row.str.count('m-').sum() + row.str.count('m+').sum()

In [753]:
def count_b(row):
    return row.astype(str).str.count('b').sum()

In [754]:
def count_j(row):
    return row.astype(str).str.count('j').sum()

In [755]:
def count_g(row):
    return row.astype(str).str.count('g').sum()

In [756]:
data['n_count'] = data[col_type].apply(count_n, axis=1)

In [757]:
data['e_count'] = data[col_type].apply(count_e, axis=1)

In [758]:
data['mu_count'] = data[col_type].apply(count_mu, axis=1)

In [759]:
data['jet_count'] = data[col_type].apply(count_j, axis=1)

In [760]:
data['bjet_count'] = data[col_type].apply(count_b, axis=1)

In [761]:
data['photon_count'] = data[col_type].apply(count_g, axis=1)

In [762]:
data.head()

,event ID,process ID,event weight,MET,METphi,event1 type,event1 E,event1 pt,event1 eta,event1 phi,...,event21 E,event21 pt,event21 eta,event21 phi,n_count,e_count,mu_count,jet_count,bjet_count,photon_count
0,62416,stlp_st1000,1.050940e-07,12.627103,-2.809940,b,12.798645,12.154542,1.255380,-1.329550,...,0.0,0.0,0.0,0.0,13,2,1,5,1,0
1,62416,stlp_st1000,1.050940e-07,13.480981,2.994350,b,13.631078,13.409932,-0.660226,0.363663,...,0.0,0.0,0.0,0.0,16,0,3,2,1,0
2,62416,stlp_st1000,1.050940e-07,13.291101,-0.530711,j,13.448982,13.253651,-0.642627,2.653840,...,0.0,0.0,0.0,0.0,16,0,3,3,0,0
3,62416,stlp_st1000,1.050940e-07,13.357086,1.456380,b,13.095929,12.844027,0.738527,-1.857830,...,0.0,0.0,0.0,0.0,16,0,3,1,2,0
4,62416,stlp_st1000,1.050940e-07,11.679033,2.765960,b,12.759291,12.726184,-0.250676,-1.428390,...,0.0,0.0,0.0,0.0,17,3,0,1,1,0

In [763]:
data = data.drop(columns=["event ID", "event weight","n_count"])

In [764]:
data = data.drop(columns=col_type)

In [765]:
data.head()

,process ID,MET,METphi,event1 E,event1 pt,event1 eta,event1 phi,event2 E,event2 pt,event2 eta,...,event20 phi,event21 E,event21 pt,event21 eta,event21 phi,e_count,mu_count,jet_count,bjet_count,photon_count
0,stlp_st1000,12.627103,-2.809940,12.798645,12.154542,1.255380,-1.329550,13.181571,11.784120,2.074910,...,0.0,0.0,0.0,0.0,0.0,2,1,5,1,0
1,stlp_st1000,13.480981,2.994350,13.631078,13.409932,-0.660226,0.363663,12.736527,12.723037,-0.152786,...,0.0,0.0,0.0,0.0,0.0,0,3,2,1,0
2,stlp_st1000,13.291101,-0.530711,13.448982,13.253651,-0.642627,2.653840,12.588146,12.286814,-0.799044,...,0.0,0.0,0.0,0.0,0.0,0,3,3,0,0
3,stlp_st1000,13.357086,1.456380,13.095929,12.844027,0.738527,-1.857830,13.215070,11.984191,-1.901320,...,0.0,0.0,0.0,0.0,0.0,0,3,1,2,0
4,stlp_st1000,11.679033,2.765960,12.759291,12.726184,-0.250676,-1.428390,12.779343,12.442669,0.866653,...,0.0,0.0,0.0,0.0,0.0,3,0,1,1,0

In [766]:
cols = data.columns.tolist()
last_five = cols[-5:]
first_two = cols[:3]
middle = cols[3:-5]
cols = first_two + last_five + middle
data = data[cols]

In [767]:
data.head()

,process ID,MET,METphi,e_count,mu_count,jet_count,bjet_count,photon_count,event1 E,event1 pt,...,event19 eta,event19 phi,event20 E,event20 pt,event20 eta,event20 phi,event21 E,event21 pt,event21 eta,event21 phi
0,stlp_st1000,12.627103,-2.809940,2,1,5,1,0,12.798645,12.154542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,stlp_st1000,13.480981,2.994350,0,3,2,1,0,13.631078,13.409932,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,stlp_st1000,13.291101,-0.530711,0,3,3,0,0,13.448982,13.253651,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,stlp_st1000,13.357086,1.456380,0,3,1,2,0,13.095929,12.844027,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,stlp_st1000,11.679033,2.765960,3,0,1,1,0,12.759291,12.726184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [768]:
#data[col_E]

In [769]:
#data[col_pt]

# All the above Code was similar to analysis one

Converting, Energy, momentum, eta and phi to list

In [770]:
lis_E = data[col_E].values.tolist()
lis_pt = data[col_pt].values.tolist()
lis_phi = data[col_phi].values.tolist()
lis_eta = data[col_eta].values.tolist()

# Strategy is simple, this time we will keep only most energetic 8 events

In [772]:
def remove_zeros(original_list):
    new_list = [x for x in original_list if x != 0]
    return  new_list

In [773]:
def index_of_min(numbers):
    return numbers.index(min(numbers))

In [774]:
def add_zeros(numbers):
    while len(numbers) < 8:
        numbers.append(0)
    return numbers

In [776]:
#Filtering out most energetic 8 events
for i in range(len(lis_E)):    
    E = remove_zeros(lis_E[i])
    pt = remove_zeros(lis_pt[i])
    phi = remove_zeros(lis_phi[i])
    eta = remove_zeros(lis_eta[i])
    
    while len(E)>8:
        l=index_of_min(k)
        del E[l-2]
        del pt[l-2]
        del phi[l-2]
        del eta[l-2]
        
    add_zeros(E)
    add_zeros(pt)
    add_zeros(phi)
    add_zeros(eta)
    
    lis_E[i] = E
    lis_pt[i] = pt
    lis_phi[i] = phi
    lis_eta[i] = eta

In [777]:
#Redefining colum names with 8 entries
N_col_E=[]
N_col_pt=[]
N_col_eta=[]
N_col_phi=[]
for i in range(1,9):
        N_col_E.append('event'+str(i)+ ' E')
        N_col_pt.append('event'+str(i)+ ' pt')
        N_col_eta.append('event'+str(i)+ ' eta')
        N_col_phi.append('event'+str(i)+ ' phi')

In [778]:
#converting list to dataframe
E_new = pd.DataFrame(lis_E, columns=N_col_E)
pt_new = pd.DataFrame(lis_pt, columns=N_col_pt)
eta_new = pd.DataFrame(lis_eta, columns=N_col_eta)
phi_new = pd.DataFrame(lis_phi, columns=N_col_phi)

In [779]:
Pro_data = pd.concat([E_new, pt_new, eta_new, phi_new], axis=1)

In [780]:
Pro_data

,event1 E,event2 E,event3 E,event4 E,event5 E,event6 E,event7 E,event8 E,event1 pt,event2 pt,...,event7 eta,event8 eta,event1 phi,event2 phi,event3 phi,event4 phi,event5 phi,event6 phi,event7 phi,event8 phi
0,12.798645,13.181571,12.592610,12.994094,11.969312,14.131978,13.080424,12.986546,12.154542,11.784120,...,-0.041961,-0.701182,-1.329550,-1.086060,-1.816050,2.542510,-0.029557,1.76800,1.12137,2.83439
1,13.631078,12.736527,11.342847,14.035658,13.175189,0.000000,0.000000,0.000000,13.409932,12.723037,...,0.000000,0.000000,0.363663,-1.194130,-2.445170,2.863820,-2.844550,0.00000,0.00000,0.00000
2,13.448982,12.588146,12.560101,13.204034,12.820036,0.000000,0.000000,0.000000,13.253651,12.286814,...,0.000000,0.000000,2.653840,1.018160,-2.319050,-0.468877,-1.902940,0.00000,0.00000,0.00000
3,13.095929,13.215070,11.647614,13.260698,12.986825,0.000000,0.000000,0.000000,12.844027,11.984191,...,0.000000,0.000000,-1.857830,-1.585240,-1.477430,1.891300,1.070770,0.00000,0.00000,0.00000
4,12.759291,12.779343,13.948406,13.395458,0.000000,0.000000,0.000000,0.000000,12.726184,12.442669,...,0.000000,0.000000,-1.428390,2.518440,-0.852631,1.840800,0.000000,0.00000,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13621,13.867183,12.355565,12.752580,10.851699,10.468395,12.942066,12.407707,0.000000,13.331653,11.689145,...,0.484904,0.000000,-0.817685,-0.795309,1.993370,0.493383,2.511870,2.52413,1.97130,0.00000
13622,13.591651,12.669744,13.657726,12.708504,0.000000,0.000000,0.000000,0.000000,13.505719,12.099873,...,0.000000,0.000000,0.510534,0.744998,-2.299720,2.782320,0.000000,0.00000,0.00000,0.00000
13623,14.875150,13.716043,12.184747,11.414115,12.853689,12.262500,12.769894,13.099551,12.794070,12.444570,...,0.337301,-1.277690,1.145430,0.135763,3.060040,0.734464,1.452840,0.14536,-1.73087,-3.03383
13624,13.303751,12.569159,12.305683,14.028710,12.687297,0.000000,0.000000,0.000000,12.433216,11.591154,...,0.000000,0.000000,1.285890,2.148100,-0.403803,-2.260220,-0.095130,0.00000,0.00000,0.00000
13625,13.533789,13.328371,12.848005,12.015826,0.000000,0.000000,0.000000,0.000000,12.968317,12.767127,...,0.000000,0.000000,1.416450,1.349380,-1.844940,-1.702040,0.000000,0.00000,0.00000,0.00000

# re indexing Data frame

In [781]:
Pro_data = Pro_data.reindex(columns=["event1 E", "event1 pt", "event1 eta", "event1 phi","event2 E", "event2 pt", "event2 eta", "event2 phi","event3 E", "event3 pt", "event3 eta", "event3 phi","event4 E", "event4 pt", "event4 eta", "event4 phi","event5 E", "event5 pt", "event5 eta", "event5 phi","event6 E", "event6 pt", "event6 eta", "event6 phi","event7 E", "event7 pt", "event7 eta", "event7 phi","event8 E", "event8 pt", "event8 eta", "event8 phi"])

In [782]:
Pro_data.head()

,event1 E,event1 pt,event1 eta,event1 phi,event2 E,event2 pt,event2 eta,event2 phi,event3 E,event3 pt,...,event6 eta,event6 phi,event7 E,event7 pt,event7 eta,event7 phi,event8 E,event8 pt,event8 eta,event8 phi
0,12.798645,12.154542,1.255380,-1.329550,13.181571,11.784120,2.074910,-1.08606,12.592610,11.331521,...,4.81466,1.768,13.080424,13.079544,-0.041961,1.12137,12.986546,12.758563,-0.701182,2.83439
1,13.631078,13.409932,-0.660226,0.363663,12.736527,12.723037,-0.152786,-1.19413,11.342847,10.803092,...,0.00000,0.000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
2,13.448982,13.253651,-0.642627,2.653840,12.588146,12.286814,-0.799044,1.01816,12.560101,12.100184,...,0.00000,0.000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
3,13.095929,12.844027,0.738527,-1.857830,13.215070,11.984191,-1.901320,-1.58524,11.647614,11.636001,...,0.00000,0.000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
4,12.759291,12.726184,-0.250676,-1.428390,12.779343,12.442669,0.866653,2.51844,13.948406,13.358785,...,0.00000,0.000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000

In [783]:
Pro_data = pd.concat([data.iloc[:, :8], Pro_data], axis=1)

In [784]:
Pro_data = Pro_data.drop(columns=["process ID"])

In [785]:
Pro_data.head()

,MET,METphi,e_count,mu_count,jet_count,bjet_count,photon_count,event1 E,event1 pt,event1 eta,...,event6 eta,event6 phi,event7 E,event7 pt,event7 eta,event7 phi,event8 E,event8 pt,event8 eta,event8 phi
0,12.627103,-2.809940,2,1,5,1,0,12.798645,12.154542,1.255380,...,4.81466,1.768,13.080424,13.079544,-0.041961,1.12137,12.986546,12.758563,-0.701182,2.83439
1,13.480981,2.994350,0,3,2,1,0,13.631078,13.409932,-0.660226,...,0.00000,0.000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
2,13.291101,-0.530711,0,3,3,0,0,13.448982,13.253651,-0.642627,...,0.00000,0.000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
3,13.357086,1.456380,0,3,1,2,0,13.095929,12.844027,0.738527,...,0.00000,0.000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000
4,11.679033,2.765960,3,0,1,1,0,12.759291,12.726184,-0.250676,...,0.00000,0.000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000

# We will also add 2 new rows with min and max of each columns, So that less energetic columns also get normalised in same proportion as more energetic columns

In [786]:
Min_row = [Pro_data["MET"].min(),Pro_data["MET"].min(),
           0,0,0,0,0,
          Pro_data["event1 E"].min(),Pro_data["event1 pt"].min(),Pro_data["event1 eta"].min(),Pro_data["event1 phi"].min(),
          Pro_data["event1 E"].min(),Pro_data["event1 pt"].min(),Pro_data["event1 eta"].min(),Pro_data["event1 phi"].min(),
          Pro_data["event1 E"].min(),Pro_data["event1 pt"].min(),Pro_data["event1 eta"].min(),Pro_data["event1 phi"].min(),
          Pro_data["event1 E"].min(),Pro_data["event1 pt"].min(),Pro_data["event1 eta"].min(),Pro_data["event1 phi"].min(),
          Pro_data["event1 E"].min(),Pro_data["event1 pt"].min(),Pro_data["event1 eta"].min(),Pro_data["event1 phi"].min(),
          Pro_data["event1 E"].min(),Pro_data["event1 pt"].min(),Pro_data["event1 eta"].min(),Pro_data["event1 phi"].min(),
          Pro_data["event1 E"].min(),Pro_data["event1 pt"].min(),Pro_data["event1 eta"].min(),Pro_data["event1 phi"].min(),
          Pro_data["event1 E"].min(),Pro_data["event1 pt"].min(),Pro_data["event1 eta"].min(),Pro_data["event1 phi"].min()  
          ]

In [787]:
Max_row = [Pro_data["MET"].max(),Pro_data["MET"].max(),
           10,10,10,10,10,
          Pro_data["event1 E"].max(),Pro_data["event1 pt"].max(),Pro_data["event1 eta"].max(),Pro_data["event1 phi"].max(),
          Pro_data["event1 E"].max(),Pro_data["event1 pt"].max(),Pro_data["event1 eta"].max(),Pro_data["event1 phi"].max(),
          Pro_data["event1 E"].max(),Pro_data["event1 pt"].max(),Pro_data["event1 eta"].max(),Pro_data["event1 phi"].max(),
          Pro_data["event1 E"].max(),Pro_data["event1 pt"].max(),Pro_data["event1 eta"].max(),Pro_data["event1 phi"].max(),
          Pro_data["event1 E"].max(),Pro_data["event1 pt"].max(),Pro_data["event1 eta"].max(),Pro_data["event1 phi"].max(),
          Pro_data["event1 E"].max(),Pro_data["event1 pt"].max(),Pro_data["event1 eta"].max(),Pro_data["event1 phi"].max(),
          Pro_data["event1 E"].max(),Pro_data["event1 pt"].max(),Pro_data["event1 eta"].max(),Pro_data["event1 phi"].max(),
          Pro_data["event1 E"].max(),Pro_data["event1 pt"].max(),Pro_data["event1 eta"].max(),Pro_data["event1 phi"].max()  
          ]

# Add new rows to dataframe

In [788]:
Pro_data = Pro_data.append(pd.Series(Min_row, index=Pro_data.columns), ignore_index=True)

C:\Users\balay\AppData\Local\Temp\ipykernel_3536\469095672.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Pro_data = Pro_data.append(pd.Series(Min_row, index=Pro_data.columns), ignore_index=True)

In [789]:
Pro_data = Pro_data.append(pd.Series(Max_row, index=Pro_data.columns), ignore_index=True)

C:\Users\balay\AppData\Local\Temp\ipykernel_3536\310409307.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Pro_data = Pro_data.append(pd.Series(Max_row, index=Pro_data.columns), ignore_index=True)

# Apply Min-Max Scaller to data

In [790]:
from sklearn.preprocessing import MinMaxScaler

In [791]:
scaler = MinMaxScaler()

In [792]:
# Fit and transform the data frame
data_scaled = scaler.fit_transform(Pro_data)

# Update the data frame with the scaled values
Pro_data = pd.DataFrame(data_scaled, columns=Pro_data.columns)

# Droping dummy rows

In [793]:
Pro_data = Pro_data.drop(Pro_data.tail(2).index)

In [794]:
Pro_data.to_csv('preprocessed_2/stpl.csv', index=False) #Exporting Data

In [795]:
#from sklearn.model_selection import train_test_split

In [796]:
#x_train, x_test = train_test_split(Pro_data, test_size=0.3, random_state=46)

In [797]:
#x_train.to_csv('BackgrownTrain.csv', index=False)

In [798]:
#x_test.to_csv('BackgrownTest.csv', index=False)